<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>ISBN</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Category</th>
      <th>Cover</th>
      <th>Language</th>
      <th>Year</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(book of booksList(); track book.isbn){
        <tr>
            <td>{{ book.isbn }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.authors.join(', ') }}</td>
            <td>{{ book.category }}</td>
            <td>{{ book.cover }}</td>
            <td>{{ book.lang }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.price}}</td>
            <td class="actions">
                <button class="btn-edit" (click)="showEditForm(book)" title="Edit">✏️</button>
                <button class="btn-delete" (click)="deleteBook(book.isbn)" title="Delete">🗑️</button>
            </td>
        </tr>
    }
  </tbody>
</table>
<button class="btn-create" (click)="showSubmitFormToggle(true)">Create Book</button>
@if(showSubmitForm){
  <app-new-book (cancel)="showSubmitFormToggle($event)" />
}
@if(editBook){
  <app-new-book [book]="editBook" [editMode]="true" (cancel)="closeEditForm()" (submitEdit)="updateBook($event)" />
}